{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    <p>Retrouvez l'ensemble des produits que vous avez ajouter à votre panier.</p>
    {% if cart|length > 0 %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for product in cart %}
                <tr>
                    <th>
                        <a href="{{ path('app_product', {'slug' : product.product.slug}) }}">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
                        </a>
                    </th>
                    <th>
                        <a href="{{ path('app_product', {'slug' : product.product.slug}) }}">
                            {{ product.product.name }}<br/>
                            <small>{{ product.product.subtitle }}</small>
                        </a>
                    </th>
                    <td>
                        <a href="{{ path('app_decrease_product', { 'id': product.product.id }) }}">
                            <img src="{{ asset('assets/img/minus.png') }}" height="12" alt="remove-quantity">
                        </a>
                        x {{ product.quantity }}
                        <a href="{{ path('app_add_to_cart', { 'id': product.product.id }) }}">
                            <img src="{{ asset('assets/img/plus.png') }}" height="12" alt="add-quantity">
                        </a>
                    </td>
                    <td>{{ product.product.price|price_format }}</td>
                    <td>{{ (product.product.price * product.quantity)|price_format }}</td>
                    <td>
                        <a href="{{ path('app_delete_from_cart', {'id': product.product.id}) }}">
                            <img src="{{ asset('assets/img/delete.png') }}" alt="trash" height="18">
                        </a>
                    </td>
                </tr>
                {% set total = total + product.product.price * product.quantity %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right mb-5">
            <b>Nombre de produits:</b>&nbsp;{{ cart|length }}<br/>
            <b>Total de mon panier:</b>&nbsp;{{ total|price_format }}
            <a href="{{ path('app_order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <hr/>
        <b>Votre panier est vide</b>
    {% endif %}

{% endblock %}
